<div>
  <p class="cart-top title"><i class="fa fa-shopping-cart fa_icon"></i><%= "#{current_user.lastname} #{current_user.firstname}" %>さんのカート内商品一覧</p><!--ここはまだ名前カラムをユーザーテーブルに作ってないのでメールで仮置きしてます-->

  <% if flash[:n] %>
    <div class="message1"><%= flash[:n] %></div>
  <% end %>

  <% if @carts.where(user_id:current_user.id).presence == nil %>
    <p>カートには何もありません</p>

  <% else %>
      <% @carts.each do |cart| %>
        <% if current_user.id == cart.user_id %>
            <div class="album-box2 clearfix">
                <div class="album-image2">
                  <%= attachment_image_tag cart.item, :image, format: 'jpeg', fallback: "noimage_panda1.jpg",class:"item_image" %>
                </div><!--商品画像がここにくる-->

                <div class="album-text">
                  <%= cart.item.artist_name %><br>
                  <p class="title"><%= cart.item.item_name %></p>
                  <span class="item-logo">レーベル <%= cart.item.label_name %></span>
                  <span class="item-logo">ジャンル <%= cart.item.category.category_name %></span>

                  <div>
                    <!-- 商品１つあたりの金額 -->
                    <span><%= number_to_currency(cart.item.price, unit: "¥", precision:0) %></span>
                    <% if cart.item.stock == 0 %>
                      <span>(売り切れ)</span>
                    <% else %>
                      <span>(在庫<%= cart.item.stock %>個)</span>
                    <% end %>
                    <%= form_for(cart, url: cart_path(cart.id), html: {method: 'PUT'}) do |f| %><!--商品の個数を変更するフォーム-->
                      <%= f.number_field :count ,min:0,max: cart.item.stock %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.hidden_field :item_id, :value => cart.item.id %>
                      <%= f.submit "個数を変更" %>
                      <button><%= link_to "　削除　", cart_path(cart.id), method: :delete %></button><br><!--商品削除ボタン-->
                    <% end %>
                <!-- １商品の合計金額 -->
                    小計: <%= number_to_currency(cart.item.price*cart.count, unit: "¥", precision:0) %><br>
                  </div>
              </div>

         <% end %>
  <% end %>

</div>
  <div class="total-price-box">
     <% if @total_price <= 3000 %>
        <p>送料：￥<%= @price %></p>
        カート内合計金額：<%= number_to_currency(@total_price+@price, unit: "¥", precision:0) %><br>
     <% else %>
        <p>送料：無料</p>
        カート内合計金額：<%= number_to_currency(@total_price, unit: "¥", precision:0) %><br>
     <% end %>
      <!-- カートの合計金額 -->
  </div>
    </div>
  <% end %>
    <!-- 送り先情報 -->
  <div class="price-box1 clearfix">
    <div class="adress-box-left">
        <p class="title"><i class="fa fa-bus"></i> 配送先情報</p>

      <%= form_for :history_address,url:history_addresses_path do |f|%>
          <div class="border-line">
              <span><span class="ad-form-label">姓（カタカナ）</span><%= f.text_field :kana_lastname,placeholder: "ヤマダ",class:"form_style_half form_input",value:"#{current_user.kana_lastname}" %></span>
              <span><span class="ad-form-label">名（カタカナ)</span><%= f.text_field :kana_firstname,placeholder: "タロウ",class:"form_style_half form_input",value:"#{current_user.kana_firstname}" %></span>
            </div>
            <div class="border-line">
              <span><span class="ad-form-label">姓</span><%= f.text_field :lastname,placeholder: "山田" ,class:"form_style_half form_input",value:"#{current_user.lastname}" %></span>
              <span><span class="ad-form-label">名</span><%= f.text_field :firstname,placeholder: "太郎",class:"form_style_half form_input",value:"#{current_user.firstname}" %></span>
            </div>

            <div class="border-line">
              <span><span class="ad-form-label">郵便番号</span><%= f.text_field :postal_code,placeholder: "111-0000",class:"form_style_half form_input",value:"#{current_user.postal_code}" %></span>
            </div>
            <div class="border-line">
              <span><span class="ad-form-label">住所</span><%= f.text_field :address,placeholder: "東京都渋谷区渋谷１−１−１",class:"form_style form_input",value:"#{current_user.address}" %></span>
            </div>
            <div class="border-line">
              <span><span class="ad-form-label">住所(建物名)</span><%= f.text_field :address2 ,placeholder: "マンション",class:"form_style form_input",value:"#{current_user.address2}" %></span>
            </div>
            <div class="border-line">
              <span><span class="ad-form-label">電話番号</span><%= f.text_field :phone,placeholder: "000-0000-0000",class:"form_style form_input",value:"#{current_user.phone}"%></span>
            </div>
            <div class="text-center1">
              <%= f.submit "情報登録" %>
            </div>
          </div>
          <div class="adress-box-right">
            <%= f.submit "購入", :disable_with => '購入中...' ,class:"square_btn3",date:{confirm:"本当に購入しますか"}%>
          </div>
      <% end %>
   <br><br>
  </div>
</div>