<h1>CD一覧</h1>
<% if admin_signed_in? %>
	<%=link_to("カテゴリー編集",categories_path)%>
<% end %>
	<div class="container">
		<% if params[:q].present? && params[:q][:artist_name_or_label_name_or_item_name_cont].present? %>
		<div>
			<p>検索語句：　<%= params[:q][:artist_name_or_label_name_or_item_name_cont] %></p>
		</div>
		<% end %>
		<table>
			<% @items.each do |item| %>
			<tr>
				<td>
					<!--画像画面左　登録がない場合noimageを表示-->
					<%= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg', fallback: "noimage_panda1.jpg",class:"item_image" %>
				</td>
					<!--商品内容-->
				<td>
					<div>
						<p><%= item.artist_name %></p>
						<p><strong><%= link_to "#{item.item_name}", item_path(item) %></strong>　(<%= item.release_date %>発売)</p>
						<p>レーベル：<%= item.label_name %> // ジャンル：<%= item.category.category_name %></p>
						<p>在庫数：　<% if item.stock == 0 %>
													<span>売り切れ</span>
											 <% else %>
													<%= item.stock %>個
											 <% end %>
						<p><%= number_to_currency(item.price, :unit => "¥", :precision => 0)%>円</p>
					</div>
				</td>
				<td>
					<div>
					<% if admin_signed_in? %>
						<%=link_to("編集する","/items/#{item.id}/edit")%><br>
						<%=link_to "削除する", item_path(item.id), method: :delete, "data-confirm" => '削除してよろしいですか？' %><br>
					<% end %>
					</div>
				</td>
			</tr>
			<% end %>
		</table>
	</div>