<div class="form_base_signin form_base_password">

    <div class="form_signin form_password">
      <h1 class="form_name">パスワードを忘れた方へ</h1>
      <div class="form_body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="devise_errors">
          <%= devise_error_messages! %>
        </div>
        <% if @minimum_password_length #文字数制限がある場合の表示%>
        <% @minimum_password_notice = "(#{@minimum_password_length}文字以内)" %>
        <% end %>
         <%= f.password_field :password, autocomplete: "off",placeholder:"パスワード#{@minimum_password_notice}",class:"form_style form_input" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder:"パスワード（確認）",class:"form_style form_input" %>
        <div class="actions">
          <%= f.submit "パスワードの変更",class: "btn btn_password" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="devise_link">
    <%= render "users/shared/links" %>
  </div>
</div>