<h1>カテゴリー</h1>
<!-- form_for部分 -->
<%= form_for @category do |f| %>
    <h2>カテゴリー追加</h2>
    <%= f.text_field :category_name %>
    <%= f.submit '投稿' %>
<% end %>

<h2>カテゴリー一覧</h2>
<% @categories.each do |category| %>
 <%= category.category_name %>
 <%= link_to "edit", edit_category_path(category) %>

  <% if category.items.presence != nil %>
    利用アイテムあり。削除不可 <br>
    <% else %>
   <%= link_to "destroy", category_path(category), method: :delete %><br>
   <% end %>

<% end %>

<br>
<%= link_to "一覧へ戻る", items_path %>