<!DOCTYPE html>
<html>
  <head>
    <title>Redpanda</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="content-language" content="ja">
  </head>
  <body>

   <header>
    <div class="<%= "#{@add_class}"%>-header clearfix">
      <div class="header-logo">
        <%= link_to 'REDPANDA',items_path %>
      </div>
      <div class="header-search">
        <%= search_form_for @q,url: items_path do |f| %>
          <%= f.search_field :artist_name_or_label_name_or_item_name_cont,class:"search_form" %>
          <%= f.submit "search",class: 'record-form__submit-button' %><br><br>
        <% end %>
      </div>
      <div class="header-menu">
        <ul>
          <% if admin_signed_in? %>
            <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
            <li><%= link_to '投稿フォーム', new_item_path %></li>
            <li><%= link_to '管理者用ページ',  admin_users_path %></li>
          <% elsif user_signed_in? %>
            <li><i class="fa fa-user-circle" aria-hidden="true"></i>ログイン中のユーザー：<%= link_to "#{current_user.lastname} #{current_user.firstname}",users_path %>　様</li>
            <%= link_to carts_path do %>
              <li><i class="fa fa-shopping-cart"></i> カート</li>
            <% end %>
            <%= link_to destroy_user_session_path,method: :delete do %>
              <li><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</li>
            <% end %>
          <% else %>
          <%= link_to new_user_session_path do %>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</li>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <li><i class="fa fa-user-circle" aria-hidden="true"></i> 会員登録</li>
            <% end %>
            <li><%= link_to "管理者ログイン あとで消す", new_admin_session_path %> admin@admin.com(adminadmin)</li>
            <li><%= link_to "管理者ユーザー作成 あとで消す", new_admin_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
   </header>
   <div class="stores_info">
  送料一律540円　3,000円以上送料無料！！２/3まで！！
  </div>

   <%if flash[:notice]%>
     <div class="flash">　<!-- ログイン時のメッセージ格納 -->
       <%= flash[:notice] %>
     </div>
   <% end %>
   <div class="container_all">
    <%= yield %>

  </div>
  <footer class="<%= "#{@add_class}-footer"%>">
      redpanda.com
  </footer>
  </body>
</html>